* {
    /*border: 0.1px solid white; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --border-color: rgba(116, 114, 114, 0.204);
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: rgb(27, 26, 26);
    align-items: center;
}

nav > .nav-item {
    padding: .4rem .75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1;
}

#nav-logo {
    flex-basis: 2%;
    font-size: clamp(20px, 3vw, 30px);
    padding-left: 5vw;
}

#nav-name {
    flex-basis: 5%;
}

#nav-menu {
    flex-grow: 1;
    font-size: 10px;
    justify-content: flex-end;
    padding-right: 5vw;    
    text-align: center;
    gap: 2vw;
    height: 100%;
}

#nav-menu > h1 {
    border-left: 2px solid var(--border-color);
    padding-left: 1vw;
    margin: 0;
    height: 100%;
}

#nav-menu > h1:hover {
    border-left: 2px solid paleturquoise;
}

i, p, h1, h3 {
    color: white;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    background-color: rgb(33, 32, 32);
    margin: 0;
}

.welcome-wrapper {
    height: 91vh;
    display: flex;
    align-items: center;
}

.welcome-wrapper > h1 {
    padding-left: 6vw;
    font-size: clamp(40px, 10vw, 75px );
}

.about-me {
    padding-left: 1em;
    padding-bottom: 4vh;
    border-top: 1px solid var(--border-color);
    background-color: rgb(21, 20, 20);
}

.about-me p {
    margin: 0;
    padding-left: 1em;
    font-size: 12px;
}

.coding-logos img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.coding-logos {
    display: flex;
    gap: .6em;
    padding-left: 1.2em;
    gap: 1em;
    padding-top: .8em;;
}