* {
    /*border: 0.1px solid white; */
    box-sizing: border-box;
}

:root {
    --border-color: rgba(54, 53, 53, 0.336);
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: rgb(27, 26, 26);
}

nav > .nav-item {
    padding: .4rem .75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-logo {
    flex-basis: 2%;
    font-size: clamp(20px, 3vw, 30px);
    padding-left: 2vw;
}

#nav-name {
    flex-basis: 75%;
}

#nav-menu {
    flex-grow: 1;
    font-size: 12px;
    justify-content: flex-end;
    padding-right: 2vw;
}

i, p, h1, h3 {
    color: white;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(33, 32, 32);
    margin: 0;
}

.welcome-wrapper {
    height: 90vh;
    display: flex;
    align-items: center;
}

.welcome-wrapper > h1 {
    padding-left: 6vw;
    font-size: clamp(40px, 10vw, 75px );
}

.about-me {
    padding-left: 1em;
    border-top: 1px solid var(--border-color);
    margin-bottom: 5vh;;
}

.about-me p {
    margin: 0;
    padding-left: 1em;
    font-size: 12px;
}