* {
    /*border: 0.1px solid white; */
    box-sizing: border-box;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(54, 53, 53, 0.336);
    background-color: rgb(27, 26, 26);
}

nav > .nav-item {
    padding: .4rem .75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-logo {
    flex-basis: 2%;
    font-size: clamp(20px, 3vw, 30px);
    padding-left: 2vw;
}

#nav-name {
    flex-basis: 75%;
}

#nav-menu {
    flex-grow: 1;
    font-size: 12px;
    justify-content: flex-end;
    padding-right: 2vw;
}

i, p, h1 {
    color: white;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(33, 32, 32);
    margin: 0;
}